@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: "Josefin Sans", sans-serif;
}

.satisfy-regular {
    font-family: "Satisfy", cursive;
    font-style: normal;
  }